@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); //importing google font popins


//Seting default values 
*{
    margin : 0; //no margin
    box-sizing: border-box; //to include everything inside the specified width and height of the containers
    &:after,&:before{
        box-sizing: border-box;
    }
}

html,body{
    overflow-x: hidden; //to avoid overflow of elements and scale them according to the window size
    // overflow-y: hidden; //to avoid overflow of elements and scale them according to the window size
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5; //removing default line height of texts
    -webkit-font-smoothing: antialiased; //smoothens the edges of the text
    // background-color: black;
}

button,input,textarea,select {
    font: inherit; //inherit the font properties of the parent class 
}

p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word; //breaks the word to fit in the specified size of the container
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
}
img,video,canvas,svg{
    max-width: 100%; //keeps the media width to 100% of the caontainer and avoids overflow of the edia content
}

.full{
    width: max-content;
    height: 100vh;
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    section{
        scroll-snap-align: start;
    }
}

/*----CSS Variables---*/
$blue-color : #00ADB5;
$dark-blue-color : #026b70;
$white-color:#EEEEEE;
$redBasic-color:#f44336;
$blueBasic-color:#2169f3;
