@import "./base.scss";

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  // background: #111;
  // background:transparent;
  color: #fff;
  overflow: hidden;
  // background-image: url('../images/stars.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  .header {
    // z-index: 1000;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    &__wrap {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60vw;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 2rem;
      & li {
        font-size: 18px;
        font-weight: 700;
      }
    }
    @media (max-width: 1200px) {
      &__wrap {
        width: 100vw;
      }
    }
    @media (max-width: 650px) {
      &__sm {
        display: none;
      }
    }
    @media (max-width: 370px) {
      & {
        left: 36%;
      }
      &__wrap {
        gap: 20%;
      }
      .headerLinks[data-text="Home"] {
        display: none;
      }
    }
  }


  // .titleBox{
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   min-height: 566px;
  //   position: absolute;
    .items{
        position: relative;
        top :25%;
        left: 5%;
        width: max-content;
        font-size: 50px;
        // width: fit-content;
    }
    .animItem{
      color: aqua;

    }

    .animItem:hover{
      cursor: pointer;
      color: aqua;
      text-shadow: 1px 1px $white-color;
      animation: colorBlink 3s ease-in-out infinite;

      @keyframes colorChange {
        0%{
          color: aqua;
        }
        50%{
          color: $white-color;

        }
        100%{
          color: aqua;
        }
      }
    }

  .socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .scrollDown {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    &__wheel {
      height: 42px;
      width: 24px;
      border-radius: 10px;
      border: 2px solid $white-color;
      &--inner {
        position: absolute;
        left: 10px;
        margin-top: 5px;
        width: 4px;
        height: 4px;
        background: $white-color;
        border-radius: 50%;
        animation: movingWheel 0.5s linear infinite;
        @keyframes movingWheel {
          0% {
            top: 1px;
          }
          25% {
            top: 2px;
          }
          50% {
            top: 3px;
          }
          75% {
            top: 2px;
          }
          100% {
            top: 1px;
          }
        }
      }
    }

    .scrollDown__arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      .scrollDown__arrow {
        width: 15px;
        height: 15px;
        border-right: 2px solid $white-color;
        border-bottom: 2px solid $white-color;
        transform: rotate(45deg);
        animation: scrollAnim 1s infinite;
        animation-direction:alternate ;
        &:nth-child(1){
            animation-delay: 0.1s;
        }
        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.3s;
        }
        @keyframes scrollAnim {
            0%{
                opacity: 0;
            }
            50%{
                opacity: 0.5;
            }
            100%{
                opacity: 1;
            }
        }
      }
    }
  }
}

// .maincontent{
//   width: 40%;
//   display: flex;
//   align-items: center;
//   /* flex-direction: column; */
// }
// .flexcontainer{
//  display: flex ;
//  flex-direction: row;
//  height: 100vh;
// }
// .canvaselement{
//   width: 60%;
//   /* height: 100vh; */
// }

.web-gl{
  position: absolute;
  height: 100vh;

}
.canvaselement{
  margin: 0;
  height: 100vh;
}

